header {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 20px;
}

.navlink {
    display: flex;
   
    gap: 10px;
}

body{
    background-color: black;
}

.card-img-top {
    max-width: 100%;
    height: auto;
  }

h1{
    color: white;
}
  